#centerpiece {
	# position: absolute;
	width: 45%;
	margin-left: 27.5%;
	vertical-align: center;
	text-align: center;
}

#body {
	background-color: #FFFFD0; 
	background-image: url("penguin.png"); 
	background-repeat: repeat;
	background-size: 13% auto;
}

.question-div {
	display: grid;
	grid-template-columns: 3fr 2fr 150fr;
}

.main-image {
	position: relative;
	width: 80%;
	left: 10%;
}

.main-text {
	font-size: calc(90%);
	width: 100%;
	text-align: center;
}

.noSpace {
	margin: 0px;
	padding: 0px;
	# margin-bottom: calc(1px);
	font-size: calc(95%);
}

.sideSpace {
	margin-left: 5px;
	margin-right: 5px;
}

.leftSpace {
	margin-left: calc(5px + 1%);
}

.questionText {
	# margin: auto;
	background: red;
	text-align: left;
	# width: calc(2% + 5px);
	vertical-align: right;
}

.button {
	border-radius: calc(10px);
	margin-right: calc(5px + 2%);
	min-width: 15%;
	background-color: #FFDFDD;
	# border: 0px;
}

.checkbox {
	height: 100%;
	# width: flex;
}

.button:hover {
	background-color: #FFF0DF;
}

#submit-button {
	margin-left: calc(5px + 5%);
}

#go-back {
	display: block;
	margin: 0 auto;
	
}